doctype html
html
  head
    title Flexibilidad de los Motores de Plantillas
    link(rel="stylesheet", href="/css/styles.css")
  body
    .container
      h1 Flexibilidad de los Motores de Plantillas
      p= flexibilidadText
      p Puedes personalizar aún más tus páginas agregando más datos dinámicos y mejorando el diseño con CSS.
