<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabla de Multiplicar</title>
    <style>
        body {
            font-family: 'Helvetica', sans-serif;
            background-color: #f8f9fa; 
            margin: 0;
            padding: 0;
        }

        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .custom-title {
            color: #ff5722;
            font-size: 36px; 
            margin-bottom: 30px; 
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); 
        }

        table {
            border-collapse: collapse;
            width: 90%; /* Ancho del 90% del contenedor */
            max-width: 600px;
            background-color: #fff; /* Fondo blanco */
            border-radius: 10px; /* Bordes redondeados */
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra suave */
            margin: auto; 
        }

        th, td {
            border: 2px solid #ff5722; 
            padding: 12px; 
            text-align: center;
        }

        th {
            background-color: #ff5722;
            color: #fff;
            text-transform: uppercase; 
        }

        tr:nth-child(even) {
            background-color: #fdf2e9; 
        }
    </style>
</head>
<body>
    <div class="container">
        <div>
            <h1 class="custom-title">Tabla de Multiplicar del <%= numero %></h1>
            <table>
                <tr>
                    <th>Número</th>
                    <th>Resultado</th>
                </tr>
                <% for (let i = 1; i <= 10; i++) { %>
                    <tr>
                        <td><%= numero %> x <%= i %></td>
                        <td><%= numero * i %></td>
                    </tr>
                <% } %>
            </table>
        </div>
    </div>
</body>
</html>
